
# Ignora node_modules de todos os apps, libs e raiz
node_modules
**/node_modules

# Ignora dist de todos os apps
**/dist

# Ignora arquivos temporários
*.log
*.tmp
.DS_Store
.env
.env.*
.git
.gitignore
.vscode
.idea
coverage
