version: '3.9'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: crm_user
      POSTGRES_PASSWORD: crm_pass
      POSTGRES_DB: crm_db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - '6379:6379'

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - '5672:5672'
      - '15672:15672'

  crm:
    build:
      context: .
      dockerfile: apps/crm/Dockerfile
    env_file:
      - ./apps/crm/.env.local
    ports:
      - '3001:3001'
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: unless-stopped

  bpms:
    build:
      context: .
      dockerfile: apps/bpms/Dockerfile
    env_file:
      - ./apps/bpms/.env.local
    ports:
      - '3002:3002'
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: unless-stopped

  automation:
    build:
      context: .
      dockerfile: apps/automation/Dockerfile
    env_file:
      - ./apps/automation/.env.local
    ports:
      - '3003:3003'
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file:
      - ./apps/web/.env.local
    ports:
      - '3000:3000'
    depends_on:
      - crm
      - bpms
      - automation
    restart: unless-stopped


volumes:
  pgdata:
  mongodata:
  redisdata:

